div(oncontextmenu='return menu(1, event);', style='height:auto; border:1px solid red; background-color:#FFCCCC;') Кликни правой кнопкой
div(id="menu-open" tabindex="-1" role="dialog" aria-labelledby="menuLabel" aria-hidden="true" style="display: block !important; padding-right: 15px; height: 100%")
 li.menu-open_li.menu-open_li_dropdown
  ul.menu-open
    li.menu-open_li.menu-open_li_dropdown
      a.menu-open_link(href='/region/statute') Ставропольский край
      ul.menu-open_dropdown_menu
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/region/statute/') Устав и геральдика
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/region/statute/ustav/') Устав (Основной Закон) Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/region/statute/gerb/') Герб Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/region/statute/flag/') Флаг Ставропольского края
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/region/municipal/') Административно-территориальное деление
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/region/municipal/rayons/') Районы и городские округа
            li.menu-open_li
              a.menu-open_link(href='/region/municipal/cities/') Города краевого значения
            li.menu-open_li
              a.menu-open_link(href='/region/municipal/mestnoe-samoupravlenie/') Местное самоуправление
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/region/people/') Население
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/region/people/honorary/') Почётные граждане
            li.menu-open_li
              a.menu-open_link(href='/region/people/demography/') Демографические сведения
            li.menu-open_li
              a.menu-open_link(href='/region/people/statistika-nagrazhdeniya/') Статистика награждения
            li.menu-open_li
              a.menu-open_link(href='/region/people/geroi-truda-stavropolya/') Герои труда Ставрополья
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/region/climate/') Климат
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/region/natres/') Природные ресурсы
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/region/ecology/') Экологическое состояние
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/region/history/') Историческая справка
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/region/tax/') Система налогообложения
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/region/invest/') Инвестиционный потенциал
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/region/invest/novosti/') События
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/region/turstavr/') Туристическое Ставрополье
    li.menu-open_li.menu-open_li_dropdown
      a.menu-open_link(href='/govdep/') Органы власти
      ul.menu-open_dropdown_menu
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/govdep/gubernator/') Губернатор края
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/govdep/gdsk/') Дума края
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/govdep/gdsk/deputies/') Депутаты Думы Ставропольского края
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/govdep/govsk/') Правительство края
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/govdep/govsk/gubernator/') Губернатор Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/govsk/sostav-pravitelstva-stavropolskogo-kraya/') Состав Правительства Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/govsk/gov/') Аппарат Правительства
            li.menu-open_li
              a.menu-open_link(href='/govdep/govsk/zased/') Заседания Правительства
            li.menu-open_li
              a.menu-open_link(href='/govdep/govsk/calplan/') Планирование
            li.menu-open_li
              a.menu-open_link(href='/govdep/govsk/stavpred/')
                | Представительство Правительства Ставропольского края при Правительстве Российской Федерации
            li.menu-open_li
              a.menu-open_link(href='/govdep/govsk/proverki/') Информация о проверках
            li.menu-open_li
              a.menu-open_link(href='/govdep/govsk/vedomstvennyj-kontrol-v-sfere-zakupok-osushestvlyaemyj-v-otnoshe/')
                | Ведомственный контроль в сфере закупок, осуществляемый в отношении государственных казенных учреждений Ставропольского края, подведомственных Правительству Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/govsk/kcp/') Информация об участии Правительства Ставропольского края в краевых программах
            li.menu-open_li
              a.menu-open_link(href='/govdep/govsk/smi-psk/') СМИ учрежденные Правительством Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/govsk/kazennye-uchrezhdeniya/') Казенные учреждения
            li.menu-open_li
              a.menu-open_link(href='/govdep/govsk/gosudarstvennye-unitarnye-predpriyatiya/') Государственные унитарные предприятия
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/govdep/ministries/') Министерства
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/govdep/ministries/mindor/')
                | Министерство строительства, дорожного хозяйства и транспорта Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/ministries/ministr-zhilishno-kommunalnogo-hozyajstva-stavropolskogo-kraya/') Министерство жилищно-коммунального хозяйства Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/ministries/minzdrav/') Министерство здравоохранения Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/ministries/miosk/') Министерство имущественных отношений Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/ministries/mincult/') Министерство культуры Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/ministries/minobr/') Министерство образования и молодежной политики Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/ministries/mprsk/') Министерство природных ресурсов и охраны окружающей среды Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/ministries/stavminprom/') Министерство энергетики, промышленности и связи Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/ministries/minselhoz/') Министерство сельского хозяйства Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/ministries/minsoc/') Министерство труда и социальной защиты населения Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/ministries/mertsk/') Министерство экономического развития Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/ministries/mfsk/') Министерство финансов Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/ministries/minisport/') Министерство физической культуры и спорта Ставропольского края
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/govdep/committees/') Комитеты
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/govdep/committees/comarch/') Комитет Ставропольского края по делам архивов
            li.menu-open_li
              a.menu-open_link(href='/govdep/committees/comnat/') Комитет Ставропольского края по делам национальностей и казачества
            li.menu-open_li
              a.menu-open_link(href='/govdep/committees/comtl/')
                | Комитет Ставропольского края по пищевой и перерабатывающей промышленности, торговле и лицензированию
            li.menu-open_li
              a.menu-open_link(href='/govdep/committees/komitet-stavropolskogo-kraya-po-gosudarstvennym-zakupkam/') Комитет Ставропольского края по государственным закупкам
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/govdep/departments/') Управления
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/govdep/departments/uprvet/') Управление ветеринарии Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/departments/uprzhinsp/') Управление Ставропольского края  по строительному и жилищному надзору
            li.menu-open_li
              a.menu-open_link(href='/govdep/departments/uprzags/') Управление записи актов гражданского состояния Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/departments/uprmirsud/') Управление по обеспечению деятельности мировых судей Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/departments/upravlenie-stavropolskogo-kraya-po-sohraneniyu-i-gosudarstvennoj/')
                | Управление Ставропольского края по сохранению и государственной охране объектов культурного наследия
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/govdep/other/') Иные
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/govdep/other/regtarifcom/') Региональная тарифная комиссия Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/other/audchambler/') Контрольно-счётная палата Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/govdep/other/izbiratelnaya-komissiya-stavropolskogo-kraya/') Избирательная комиссия Ставропольского края
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/govdep/info/') Справочная информация
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/govdep/info/federal-ov/') Федеральные органы власти
            li.menu-open_li
              a.menu-open_link(href='/govdep/info/fed-ov/') Территориальные органы Федеральных органов власти
            li.menu-open_li
              a.menu-open_link(href='/govdep/info/poleznye-ssylki/') Полезные ссылки
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/govdep/koord/') Координационные и совещательные органы
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/govdep/koord/translyaciya-zasedanij-koordinacionnyh-i-soveshatelnyh-organov/') Трансляция заседаний координационных и совещательных органов
            li.menu-open_li
              a.menu-open_link(href='/govdep/koord/metods/') Методические рекомендации по организации деятельности КСО
            li.menu-open_li
              a.menu-open_link(href='/govdep/koord/informaciya-o-deyatelnosti-koordinacionnyh-i-soveshatelnyh-organ/') Информация о деятельности координационных и совещательных органов
            li.menu-open_li
              a.menu-open_link(href='/govdep/koord/guber-council/') Председатель – Губернатор Ставропольского края Владимиров Владимир Владимирович
            li.menu-open_li
              a.menu-open_link(href='/govdep/koord/1zam/')
                | Председатель – первый заместитель  председателя Правительства Ставропольского края  Великдань Николай Тимофеевич
            li.menu-open_li
              a.menu-open_link(href='/govdep/koord/predsedatel-pervyj-zamestitel-predsedatelya-pravitelstva-stavrop/')
                | Председатель – первый заместитель  председателя Правительства Ставропольского края  Ковалев Иван Иванович
            li.menu-open_li
              a.menu-open_link(href='/govdep/koord/kalinchenko/')
                | Председатель – заместитель председателя Правительства Ставропольского края - министр финансов Ставропольского края Калинченко Лариса Анатольевна
            li.menu-open_li
              a.menu-open_link(href='/govdep/koord/zampredbvv/')
                | Председатель – заместитель председателя Правительства Ставропольского края Кувалдина Ирина Владимировна
            li.menu-open_li
              a.menu-open_link(href='/govdep/koord/burzak/')
                | Председатель – заместитель председателя Правительства Ставропольского края –  министр экономического развития Ставропольского края Мурга Андрей Юрьевич
            li.menu-open_li
              a.menu-open_link(href='/govdep/koord/zampredegg/')
                | Председатель – заместитель председателя Правительства Ставропольского края Петрашов Роман Ярославлевич
            li.menu-open_li
              a.menu-open_link(href='/govdep/koord/zampredksn/')
                | Председатель – заместитель председателя Правительства Ставропольского края, руководитель аппарата Правительства Ставропольского края Прудникова Ольга Николаевна
            li.menu-open_li
              a.menu-open_link(href='/govdep/koord/zampredusd/')
                | Председатель – заместитель председателя Правительства Ставропольского края Скворцов Юрий Алексеевич
    li.menu-open_li.menu-open_li_dropdown
      a.menu-open_link(href='/lawbase/') Нормативная правовая база
      ul.menu-open_dropdown_menu
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/lawbase/docs/') Законодательство края
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/lawbase/docs/last/') Последние размещённые документы
            li.menu-open_li
              a.menu-open_link(href='/lawbase/docs/org/') Принимающие органы
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/lawbase/lawprojects/') Антикоррупционная экспертиза проектов
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/lawbase/lawprojects/last/') Последние размещённые документы
            li.menu-open_li
              a.menu-open_link(href='/lawbase/lawprojects/org/') Органы вносящие законопроект
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/lawbase/obzhalovanie/') Обжалование нормативных правовых актов
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/lawbase/obzhalovanie/poryadok-obzhalovaniya-normativnyh-pravovyh-aktov-i-inyh-resheni/')
                | Порядок обжалования нормативных правовых актов и иных решений,  принятых Правительством Ставропольского края.
            li.menu-open_li
              a.menu-open_link(href='/lawbase/obzhalovanie/poryadok-obzhalovaniya-normativnyh-pravovyh-aktov-i-inyh-resheni-copy/')
                | Порядок обжалования нормативных правовых актов и иных решений,  принятых Губернатором Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/lawbase/obzhalovanie/o-sudebnyh-postanovleniyah-po-delam-o-priznanii-nedejstvuyushimi/')
                | О судебных постановлениях по делам о признании недействующими нормативных правовых актов Губернатора Ставропольского края и Правительства Ставропольского края
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/lawbase/obshestvennoe-obsuzhdenie-proektov/') Общественное обсуждение проектов
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/lawbase/obshestvennoe-obsuzhdenie-proektov/o-vnesenii-izmenenij-v-strategiyu-razvitiya-pishevoj-i-pererabat/')
                | О внесении изменений в Стратегию развития пищевой и перерабатывающей промышленности Ставропольского края до 2020 года, утвержденную приказом комитета Ставропольского края по пищевой и перерабатывающей промышленности, торговле и лицензированию от 06 июня 2
            li.menu-open_li
              a.menu-open_link(href='/lawbase/obshestvennoe-obsuzhdenie-proektov/ob-utverzhdenii-strategii-razvitiya-torgovli-v-stavropolskom-kra/')
                | Об утверждении Стратегии развития торговли в Ставропольском крае на 2017-2018 годы и период до 2030 года
            li.menu-open_li
              a.menu-open_link(href='/lawbase/obshestvennoe-obsuzhdenie-proektov/proekt-gosudarstvennoj-programmy-stavropolskogo-kraya-profilakti/')
                | Проект государственной программы Ставропольского края «Профилактика правонарушений в Ставропольском крае».
            li.menu-open_li
              a.menu-open_link(href='/lawbase/obshestvennoe-obsuzhdenie-proektov/o-vnesenii-izmenenij-v-normativnye-zatraty-na-obespechenie-funkc/')
                | О внесении изменений в Нормативные затраты на обеспечение функций Правительства Ставропольского края и подведомственных ему гос-ударственных казенных учреждений СК, утвержденные постановлением Правительства СК от 29 февраля 2016 г. № 79-п
            li.menu-open_li
              a.menu-open_link(href='/lawbase/obshestvennoe-obsuzhdenie-proektov/o-vnesenii-izmenenij-v-administrativnyj-reglament-predostavleniy/')
                | О внесении изменений в Административный регламент предоставления Правительством Ставропольского края государственной услуги по предоставлению сведений, содержащихся в регистре муниципальных нормативных правовых актов Ставропольского края, утвержденный пос
            li.menu-open_li
              a.menu-open_link(href='/lawbase/obshestvennoe-obsuzhdenie-proektov/postanovlenie-pravitelstva-stavropolskogo-kraya-ot-04-maya-2016-/')
                | Постановление Правительства Ставропольского края от 04 мая 2016 г. № 174-п «О внесении изменений в постановление Правительства Ставропольского края от 26 февраля 2016 г. № 73-п «О создании общественного совета при Правительстве Ставропольского края».
            li.menu-open_li
              a.menu-open_link(href='/lawbase/obshestvennoe-obsuzhdenie-proektov/protokol-1-zasedaniya-obshestvennogo-soveta-pri-pravitelstve-sta/')
                | Протокол № 1 заседания общественного совета при Правительстве Ставропольского края  от 29 февраля 2016 года.
            li.menu-open_li
              a.menu-open_link(href='/lawbase/obshestvennoe-obsuzhdenie-proektov/svodk234a-predlozhenij-k-proektu-postanovleniya-pravitelstva-stavro/')
                | Сводка предложений к проекту постановления Правительства Ставропольского края «Об утверждении требований к закупаемым Правительством Ставропольского края и подведомственными ему государственными казенными учреждениями Ставропольского края отдельным видам
            li.menu-open_li
              a.menu-open_link(href='/lawbase/obshestvennoe-obsuzhdenie-proektov/ob-utverzhdenii-trebovanij-k-zakupaemym-pravitelstvom-stavro-pol/')
                | Об утверждении требований к закупаемым Правительством Ставро-польского края и подведомственными ему государственными казенными учреждениями Ставропольского края отдельным видам товаров, работ, услуг (в том числе предельные цены товаров, работ, услуг)
            li.menu-open_li
              a.menu-open_link(href='/lawbase/obshestvennoe-obsuzhdenie-proektov/svodka-predlozhenij-k-proektu-postanovleniya-pravitelstva-stavro/')
                | Сводка предложений к проекту постановления Правительства Ставропольского края «Об утверждении нормативных затрат на обеспечение функций Правительства Ставропольского края и подведомственных ему государственных казенных учреждений Ставропольского края».
            li.menu-open_li
              a.menu-open_link(href='/lawbase/obshestvennoe-obsuzhdenie-proektov/proekt-postanovleniya-pravitelstva-stavropolskogo-kraya-ob-utver/')
                | Проект постановления Правительства Ставропольского края «Об утверждении нормативных затрат на обеспечение функций Правительства Ставропольского края и подведомственных ему государственных казенных учреждений Ставропольского края»
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/lawbase/digests/') Сборники НПА
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/lawbase/informacionno-pravovaya-sistema-zakonodatelstvo-rossii/') Ссылки на правовые ресурсы
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/lawbase/drafts/') Антикоррупционная экспертиза проектов (архив 2011 год)
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/lawbase/drafts/gubernator/') Законопроекты, вносимые Губернатором Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/lawbase/drafts/gubernator-gov/')
                | Законопроекты, вносимые Губернатором Ставропольского края совместно с Правительством Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/lawbase/drafts/proekty-vnosimye-pravitelstvom-stavropolskogo-kraya/') Проекты, вносимые Правительством Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/lawbase/drafts/ministerstvo-ekonomicheskogo-razvitiya-stavropolskogo-kraya/') Министерство экономического развития Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/lawbase/drafts/minselhoz/') Министерство сельского хозяйства Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/lawbase/drafts/min-dor/') Министерство дорожного хозяйства Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/lawbase/drafts/komitet-stavropolskogo-kraya-po-zhilishno-kommunalnomu-hozyajstv/') Комитет Ставропольского края по жилищно-коммунальному хозяйству
            li.menu-open_li
              a.menu-open_link(href='/lawbase/drafts/minstroi/') Министерство строительства и архитектуры Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/lawbase/drafts/gos-zakaz/') Комитет Ставропольского края по государственному заказу
            li.menu-open_li
              a.menu-open_link(href='/lawbase/drafts/komitet-stavropolskogo-kraya-po-informacionnym-tehnologiyam-i-sv/') Комитет Ставропольского края по информационным технологиям и связи
            li.menu-open_li
              a.menu-open_link(href='/lawbase/drafts/rtk/') Региональная тарифная комиссия
            li.menu-open_li
              a.menu-open_link(href='/lawbase/drafts/min-trud/') Министерство социального развития и занятости населения Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/lawbase/drafts/minekonomrazvitiya/') Министерство экономического развития Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/lawbase/drafts/ministerstvo-zdravoohraneniya-stavropolskogo-kraya/') Министерство здравоохранения Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/lawbase/drafts/minprirody/') Министерство природных ресурсов и охраны окружающей среды
    li.menu-open_li.menu-open_li_dropdown
      a.menu-open_link(href='/protivkorrupcii/') Противодействие коррупции
      ul.menu-open_dropdown_menu
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/protivkorrupcii/normativnye-pravovye-i-inye-akty-v-sfere-protivodejstviya-korrup/') Нормативные правовые и иные акты в сфере противодействия коррупции
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/protivkorrupcii/normativnye-pravovye-i-inye-akty-v-sfere-protivodejstviya-korrup/zakonodatelstvo-r/') Законодательство Российской Федерации
            li.menu-open_li
              a.menu-open_link(href='/protivkorrupcii/normativnye-pravovye-i-inye-akty-v-sfere-protivodejstviya-korrup/zakonodatelstvo-stavropolskogo-kraya/') Законодательство Ставропольского  края
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/protivkorrupcii/antikorrupcionnaya-ekspertiza/') Антикоррупционная экспертиза
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/protivkorrupcii/metodicheskie-materialy/') Методические материалы
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/protivkorrupcii/metodicheskie-materialy/gospolitika/') Информация о реализации государственной антикоррупционной политики
            li.menu-open_li
              a.menu-open_link(href='/protivkorrupcii/metodicheskie-materialy/pravovoj-vseobuch/') Правовой всеобуч
            li.menu-open_li
              a.menu-open_link(href='/protivkorrupcii/metodicheskie-materialy/metodicheskie-rekomendacii-obzory-razyasneniya-i-inye-dokumenty-/')
                | Методические рекомендации, Обзоры, разъяснения и иные документы, подготовленные Министерством труда и социальной защиты Российской Федерации
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/protivkorrupcii/formy-dokumentov-svyazannyh-s-protivodejstviem-korrupcii-dlya-za/') Формы документов, связанных с противодействием коррупции, для заполнения
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/protivkorrupcii/svedeniya-o-dohodah-rashodah-ob-imushestve-i-obyazatelstvah-imus/')
            | Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/protivkorrupcii/komissiya-po-soblyudeniyu-trebovanij-k-sluzhebnomu-povedeniyu-gr/')
            | Комиссия по соблюдению требований к служебному поведению гражданских служащих, назначение на которые и освобождение от которых осуществляется руководителем аппарата Правительства Ставропольского края, и урегулированию конфликта интересов
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/protivkorrupcii/komissiya-po-soblyudeniyu-trebovanij-k-sluzhebnomu-povedeniyu-go/')
            | Комиссия по соблюдению требований к служебному поведению государственных гражданских служащих Ставропольского края, назначение на которые и освобождение от которых осуществляется Губернатором Ставропольского края, и урегулированию конфликта интересов
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/protivkorrupcii/obratnaya-svyaz-dlya-soobshenij-o-faktah-korrupcii/') Обратная связь для сообщений о фактах коррупции
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/protivkorrupcii/obratnaya-svyaz-dlya-soobshenij-o-faktah-korrupcii/rassmotrenie-obrashenij-grazhdan/') Рассмотрение обращений граждан
            li.menu-open_li
              a.menu-open_link(href='/protivkorrupcii/obratnaya-svyaz-dlya-soobshenij-o-faktah-korrupcii/contacts/') Контактная информация секретарей комиссий
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/protivkorrupcii/otchety/') Информация о реализации государственной антикоррупционной политики
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/protivkorrupcii/otchety/otchet-po-programme-protivodejstviya-korrupcii-za-2-kvartal-2016/') Отчет по программе противодействия коррупции за 2 квартал 2016 года
    li.menu-open_li.menu-open_li_dropdown
      a.menu-open_link(href='/open/') Открытое правительство
      ul.menu-open_dropdown_menu
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/open/otchety-o-rashodovanii-byudzhetnyh-assignovanij-na-informacionno/')
            | Отчеты о расходовании бюджетных ассигнований на информационное обеспечение деятельности органов государственной власти Ставропольского края и поддержку средств массовой информации.
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/open/rabochaya-gruppa/') Комиссия
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/open/realizuemye-proekty/') Реализуемые проекты
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/open/realizuemye-proekty/byudzhet-dlya-grazhdan/') Бюджет для граждан
            li.menu-open_li
              a.menu-open_link(href='/open/realizuemye-proekty/otkrytoe-zhkh/') Открытое ЖКХ
            li.menu-open_li
              a.menu-open_link(href='/open/realizuemye-proekty/investicionnaya-karta/') Инвестиционная карта
            li.menu-open_li
              a.menu-open_link(href='/open/realizuemye-proekty/gospodderzhka-malogo-i-srednego-predprinimatelstva/') Господдержка малого и среднего  предпринимательства
            li.menu-open_li
              a.menu-open_link(href='/open/realizuemye-proekty/kadrovoe-obespechenie/') Кадровое обеспечение
            li.menu-open_li
              a.menu-open_link(href='/open/realizuemye-proekty/narodnyj-kontrol/') Народный контроль
            li.menu-open_li
              a.menu-open_link(href='/open/realizuemye-proekty/agrarnaya-liga/') Аграрная лига
            li.menu-open_li
              a.menu-open_link(href='/open/realizuemye-proekty/molodyozhnoe-pravitelstvo/') Молодёжное правительство
            li.menu-open_li
              a.menu-open_link(href='/open/realizuemye-proekty/interaktivnaya-karta-po-stroitelstvu-mnogokvartirnyh-domov-v-sta/') Интерактивная карта по строительству многоквартирных домов в Ставропольском крае
            li.menu-open_li
              a.menu-open_link(href='/open/realizuemye-proekty/geoinformacionnyj-portal/') Геоинформационный портал
            li.menu-open_li
              a.menu-open_link(href='/open/realizuemye-proekty/karta-kompetencij/') Карта компетенций
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/open/otkrytye-dannye/') Открытые данные
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/open/otkrytyj-municipalitet/') Открытый муниципалитет
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/open/gosudarstvenno-obshestvennoe-upravlenie/') Государственно-общественное  управление
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/open/gosudarstvenno-obshestvennoe-upravlenie/obshestvennye-sovety/') Общественные советы
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/open/gosudarstvennye-uslugi/') Государственные услуги
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/open/protivodejstvie-korrupcii/') Противодействие коррупции
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/open/obratnaya-svyaz/') Обратная связь
    li.menu-open_li
      a.menu-open_link(href='/dohod1/') Сведения о доходах, расходах
    li.menu-open_li.menu-open_li_dropdown
      a.menu-open_link(href='/programms/') Проекты, программы
      ul.menu-open_dropdown_menu
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/programms/proekty-zakonov/') Проекты законов
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/programms/proekty-zakonov/proekt-zakona-stavropolskogo-kraya-o-vnesenii-izmenenij-v-zakon-/')
                | Проект закона Ставропольского края «О внесении изменений в Закон Ставропольского края «Об административных правонарушениях в Ставропольском крае», внесенный 25 ноября 2016 года Губернатором Ставропольского края в Думу Ставропольского края.
            li.menu-open_li
              a.menu-open_link(href='/programms/proekty-zakonov/proekt-zakona-stavropolskogo-kraya-ob-obshestvennoj-palate-stavr/')
                | Проект закона Ставропольского края «Об Общественной палате Ставропольского края».
            li.menu-open_li
              a.menu-open_link(href='/programms/proekty-zakonov/o-vnesenii-izmenenij-v-statyu-82-zakona-stavropolskogo-kraya-o-s/')
                | О внесении изменений в статью 82 Закона Ставропольского края «О статусе лиц, замещающих государственные должности Ставропольского края», внесенный 18 ноября 2016 года Губернатором Ставропольского края в Думу Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/programms/proekty-zakonov/rasporyarzhenie-pravitelstva-stavropolskogo-kraya-ot-19-oktyabrya/')
                | Распоряжение Правительства Ставропольского края от 19 октября 2016 г. № 345-рп «О проекте закона Ставропольского края «О внесении изменений в Закон Ставропольского края «О государственной поддержке организаций потребительской кооперации».
            li.menu-open_li
              a.menu-open_link(href='/programms/proekty-zakonov/rasporyazhenie-pravitelstva-stavropolskogo-kraya-ot-19-oktyabrya/')
                | Распоряжение Правительства Ставропольского края от 19 октября 2016 г. № 346-рп «О проекте закона Ставропольского края «О внесении изменений в статьи 3 и 4 Закона Ставропольского края «О разграничении полномочий органов государственной власти Ставропольско
            li.menu-open_li
              a.menu-open_link(href='/programms/proekty-zakonov/o-vnesenii-izmeneniya-v-statyu-3-zakona-stavropolskogo-kraya-ob-/')
                | О внесении изменения в статью 3 Закона Ставропольского края «Об обеспечении равной доступности услуг пассажирского автомобильного транспорта маршрутов межмуниципального сообщения в Ставропольском крае»
            li.menu-open_li
              a.menu-open_link(href='/programms/proekty-zakonov/o-vnesenii-izmeneniya-v-statyu-4-zakona-stavropolskogo-kraya-o-v/')
                | О внесении изменения в статью 4 Закона Ставропольского края «О ветеранах труда Ставропольского края»
            li.menu-open_li
              a.menu-open_link(href='/programms/proekty-zakonov/o-vnesenii-izmenenij-v-stati-4-i-6-zakona-stavropolskogo-kraya-o/')
                | О внесении изменений в статьи 4 и 6 Закона Ставропольского края «О порядке организации и ведения регистра муниципальных нормативных правовых актов Ставропольского края».
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/programms/elgov/') Электронное правительство
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/programms/elgov/uec/') Универсальная электронная карта
            li.menu-open_li
              a.menu-open_link(href='/programms/elgov/plan-perehoda/')
                | План перехода на предоставление в электронной форме государственных и муниципальных услуг
            li.menu-open_li
              a.menu-open_link(href='/programms/elgov/kcp/')
                | Краевая целевая программа развитие информационного общества в крае на 2011-2014 годы
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/programms/ekonomika/') Экономика
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/programms/health/') Здравоохранение
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/programms/health/proekty-modernizacii/') Проекты модернизации
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/programms/obrazovanie/') Образование
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/programms/safety/') Безопасность
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/programms/safety/osnovnye-itogi-monitoringa-narkosituacii-v-stavropolskom-krae-v-/') Основные итоги мониторинга наркоситуации в Ставропольском крае в 2012 году
            li.menu-open_li
              a.menu-open_link(href='/programms/safety/informaciya-o-realizacii-mer-po-profilaktike-terroristicheskih-u/')
                | Информация о реализации мер по профилактике террористических угроз на территории Ставропольского края в 2011 году
            li.menu-open_li
              a.menu-open_link(href='/programms/safety/informaciya-o-realizacii-mer-po-profilaktike-pravonarushenij-na-/')
                | Информация о реализации мер по профилактике правонарушений на территории Ставропольского края в 2011 году
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/programms/municipal/') Развитие муниципальных образований
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/programms/zhile/') Жилье
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/programms/zhile/events/') Мероприятия
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/programms/gossluzhba/') Государственная гражданская служба
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/programms/finansy/') Финансы
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/programms/finansy/vedprog1/')
                | Закон Ставропольского края от 14 декабря 2015 года № 136-кз «О бюджете Ставропольского края на 2016 год»
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/programms/anti-narkotik/') Противодействие наркотикам
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/programms/soc-ekonom/') Социально-экономическое развитие края
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/programms/anti-korrup/') Противодействие коррупции
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/programms/kapitalnyj-remont-mkd/') Капитальный ремонт МКД
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/programms/otchet-od-hode-realizacii-gosudarstvennyh-programm-stavropolskogo/')
            | Отчет о ходе реализации государственных программ Ставропольского края за  2015 год
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/programms/otchet-o-hode-realizacii-gosudarstvennyh-programm-stavropolskogo/')
            | Отчет о ходе реализации государственных программ Ставропольского края за 2014 год
    li.menu-open_li.menu-open_li_dropdown
      a.menu-open_link(href='/podderzhka-nko/') Поддержка НКО
      ul.menu-open_dropdown_menu
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/podderzhka-nko/normativno-pravovye-akty/') Нормативно-правовые акты
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/podderzhka-nko/normativno-pravovye-akty/rasporyazhenie-prezidenta-rossijskoj-federacii-vv-putina-68-rp-o/')
                | Распоряжение Президента Российской Федерации В.В. Путина № 68-рп от 05 апреля 2016 года
            li.menu-open_li
              a.menu-open_link(href='/podderzhka-nko/normativno-pravovye-akty/postanovlenie-psk-ot-05022016-g-34-p/')
                | Постановление ПСК от 05.02.2016 г. №34-п "О мерах по реализации постановления Правительства Ставропольского края  от 29 марта 2013 г. № 112-п"
            li.menu-open_li
              a.menu-open_link(href='/podderzhka-nko/normativno-pravovye-akty/postanovlenie-psk-112-p-poryadok-predostavleniya-subsidij-nko/') Постановление ПСК 112-п Порядок предоставления субсидий НКО
            li.menu-open_li
              a.menu-open_link(href='/podderzhka-nko/normativno-pravovye-akty/zakon-sk-80-kz-o-gospodderzhke-socialno-orientirovannyh-nko/') Закон СК 80-кз О господдержке социально ориентированных НКО
            li.menu-open_li
              a.menu-open_link(href='/podderzhka-nko/normativno-pravovye-akty/zakon-212-fz-ob-osnovah-obshestvennogo-kontrolya/') Закон 212-ФЗ Об основах общественного контроля
            li.menu-open_li
              a.menu-open_link(href='/podderzhka-nko/normativno-pravovye-akty/zakon-82-fz-ob-obshestvennyh-obedineniyah/') Закон 82-ФЗ Об общественных объединениях
            li.menu-open_li
              a.menu-open_link(href='/podderzhka-nko/normativno-pravovye-akty/zakon-7-fz-o-nekommercheskih-organizaciyah/') Закон 7-ФЗ О некоммерческих организациях
            li.menu-open_li
              a.menu-open_link(href='/podderzhka-nko/normativno-pravovye-akty/gosudarstvennaya-programma-sk-socialnaya-podderzhka-grazhdan/') Государственная Программа СК Социальная поддержка граждан
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/podderzhka-nko/informaciya-o-konkurse-sredi-socialno-orientirovannyh-nko-na-pol/') Информация о конкурсе среди социально ориентированных НКО на получение субсидии.
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/podderzhka-nko/informaciya-o-konkurse-sredi-socialno-orientirovannyh-nko-na-pol/itogi-konursov/') Итоги конурсов
            li.menu-open_li
              a.menu-open_link(href='/podderzhka-nko/informaciya-o-konkurse-sredi-socialno-orientirovannyh-nko-na-pol/obyavleniya-o-konkursah/') Объявления о конкурсах
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/podderzhka-nko/informaciya-o-konkursah-dlya-nko/') Информация о конкурсах для НКО
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/podderzhka-nko/formy-gosudarstvennoj-podderzhki-nko/') Формы государственной поддержки НКО
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/podderzhka-nko/municipalnye-konkursy-dlya-socialno-orientirovannyh-nko/') Муниципальные конкурсы для социально ориентированных НКО
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/podderzhka-nko/informaciya-o-sostoyanii-i-perspektivah-razvitiya-institutov-gra/') Информация о состоянии и перспективах развития институтов гражданского общества
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/podderzhka-nko/obratnaya-svyaz/') Обратная связь
    li.menu-open_li.menu-open_li_dropdown
      a.menu-open_link(href='/personnel/') Кадровое обеспечение
      ul.menu-open_dropdown_menu
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/personnel/gosslujba/') Государственная гражданская служба
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/personnel/gosslujba/pravokadr/')
                | Правовые основы поступления на государственную гражданскую службу Ставропольского края и ее прохождения
            li.menu-open_li
              a.menu-open_link(href='/personnel/gosslujba/povedeniyu/')
                | Соблюдение требований к служебному поведению государственных гражданских служащих
            li.menu-open_li
              a.menu-open_link(href='/personnel/gosslujba/ogranich-gossluj/')
                | Соблюдение ограничений и запретов, связанных с гражданской службой, исполнение обязанностей, связанных  с прохождением государственной службы
            li.menu-open_li
              a.menu-open_link(href='/personnel/gosslujba/profes-preparation/')
                | Профессиональная подготовка кадров для государственной гражданской службы Ставропольского края, получение государственными гражданскими служащими  Ставропольского края дополнительного профессионального образования
            li.menu-open_li
              a.menu-open_link(href='/personnel/gosslujba/faq/') Часто задаваемые вопросы, справочная и методическая  информация
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/personnel/uprav-rezerv/') Резерв управленческих кадров Ставропольского края
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/personnel/uprav-rezerv/law-basics/') Правовые основы формирования резерва управленческих кадров Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/personnel/uprav-rezerv/rezerv/')
                | Комиссия по формированию и подготовке резерва управленческих кадров Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/personnel/uprav-rezerv/preparation-n-using/') Подготовка и использование резерва управленческих кадров Ставропольского края
            li.menu-open_li
              a.menu-open_link(href='/personnel/uprav-rezerv/funkcionalnyj-rezerv-upravlencheskih-kadrov-stavropolskogo-kraya/') Функциональный резерв управленческих кадров Ставропольского края
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/personnel/vakansii/') Информация о конкурсах
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/personnel/vakansii/ankety-kandidatov/') Анкета кандидата
            li.menu-open_li
              a.menu-open_link(href='/personnel/vakansii/konkurs/') Объявления о конкурсах
            li.menu-open_li
              a.menu-open_link(href='/personnel/vakansii/itogi-konkursov/') Итоги конкурсов
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/personnel/proekt-novaya-energiya-professionalnaya-komanda-stavropolskogo-k/') Проект "Новая энергия. Профессиональная команда Ставропольского края""
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/personnel/proekt-novaya-energiya-professionalnaya-komanda-stavropolskogo-k/poryadok-realizacii-proekta/') Порядок реализации проекта
            li.menu-open_li
              a.menu-open_link(href='/personnel/proekt-novaya-energiya-professionalnaya-komanda-stavropolskogo-k/otbor-uchastnikov-proekta/') Отбор участников проекта
            li.menu-open_li
              a.menu-open_link(href='/personnel/proekt-novaya-energiya-professionalnaya-komanda-stavropolskogo-k/laureaty-proekta/') Лауреаты проекта
    li.menu-open_li
      a.menu-open_link(href='/emergency/') Защита от чрезвычайных ситуаций
    li.menu-open_li.menu-open_li_dropdown
      a.menu-open_link(href='/feedback/') Обращения граждан
      ul.menu-open_dropdown_menu
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/feedback/send/') Отправить обращение
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/feedback/reviews/') Обзоры обращений
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/feedback/reviews/2016-g/') 2016 г.
            li.menu-open_li
              a.menu-open_link(href='/feedback/reviews/2015-g/') 2015 г.
            li.menu-open_li
              a.menu-open_link(href='/feedback/reviews/2014-g/') 2014 г.
            li.menu-open_li
              a.menu-open_link(href='/feedback/reviews/2013/') 2013 г.
            li.menu-open_li
              a.menu-open_link(href='/feedback/reviews/2012/') 2012 г.
            li.menu-open_li
              a.menu-open_link(href='/feedback/reviews/2011-copy/') 2011 г.
            li.menu-open_li
              a.menu-open_link(href='/feedback/reviews/2010/') 2010 г.
            li.menu-open_li
              a.menu-open_link(href='/feedback/reviews/2009/') 2009 г.
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/feedback/edinyj-den-informirovaniya/') Единый день информирования
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/feedback/edinyj-den-informirovaniya/22082012/')
                | Материалы к выступлению на едином дне информирования населения края  24 августа 2012 года
            li.menu-open_li
              a.menu-open_link(href='/feedback/edinyj-den-informirovaniya/materialy-k-vystupleniyu-na-edinom-dne-informirovaniya-naseleniy/')
                | Материалы к выступлению  на едином дне информирования населения края 22 июня 2012 года
            li.menu-open_li
              a.menu-open_link(href='/feedback/edinyj-den-informirovaniya/24feb2012/')
                | Материалы к выступлению на едином дне информирования населения края 24 февраля 2012 года
            li.menu-open_li
              a.menu-open_link(href='/feedback/edinyj-den-informirovaniya/materialy-k-dokladu-na-edinom-dne-informirovaniya-naseleniya-kra/')
                | Материалы к  докладу на едином  дне информирования населения края  17 июня  2011  года на тему  «Стратегия – 2020»
    li.menu-open_li.menu-open_li_dropdown
      a.menu-open_link(href='/stat/') Статистика
      ul.menu-open_dropdown_menu
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/stat/economics/') Экономические показатели
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/stat/economics/agriculture/') Сельское хозяйство
            li.menu-open_li
              a.menu-open_link(href='/stat/economics/soc-econ/') Социально-экономическое развитие края
            li.menu-open_li
              a.menu-open_link(href='/stat/economics/exteconom/') Внешнеэкономическая деятельность
            li.menu-open_li
              a.menu-open_link(href='/stat/economics/industry/') Промышленность края
            li.menu-open_li
              a.menu-open_link(href='/stat/economics/m-ent/') Малое и среднее предпринимательство
            li.menu-open_li
              a.menu-open_link(href='/stat/economics/it/') Информатизация и связь
            li.menu-open_li
              a.menu-open_link(href='/stat/economics/h-infr/') Жилищно-коммунальное хозяйство
            li.menu-open_li
              a.menu-open_link(href='/stat/economics/informaciya-o-razmeshenii-gosudarstvennogo-zakaza/') Информация о размещении  государственного заказа
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/stat/social/') Социальная сфера
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/stat/social/perepis2010/') Перепись населения 2010
            li.menu-open_li
              a.menu-open_link(href='/stat/social/employment/') Занятость населения
            li.menu-open_li
              a.menu-open_link(href='/stat/social/art-culture/') Искусство и культура
            li.menu-open_li
              a.menu-open_link(href='/stat/social/youth-politics/') Молодёжная политика
            li.menu-open_li
              a.menu-open_link(href='/stat/social/science/') Наука и технологии
            li.menu-open_li
              a.menu-open_link(href='/stat/social/education/') Образование
            li.menu-open_li
              a.menu-open_link(href='/stat/social/rest/') Отдых
            li.menu-open_li
              a.menu-open_link(href='/stat/social/religion/') Религия и национальности
            li.menu-open_li
              a.menu-open_link(href='/stat/social/soc-protect/') Социальная защита населения
            li.menu-open_li
              a.menu-open_link(href='/stat/social/sport/') Спортивная жизнь
            li.menu-open_li
              a.menu-open_link(href='/stat/social/transport/') Транспортная инфраструктура
            li.menu-open_li
              a.menu-open_link(href='/stat/social/healthserv/') Здравоохранение
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/stat/account/') Отчёт о расходовании бюджета
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/stat/statzatraty/') Статистическое наблюдение за затратами
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/stat/objects/') Объекты государственной собственности края
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/stat/stroitelstvo/') Строительство
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/stat/stroitelstvo/statisticheskie-dnye-ob-obeme-investicij-i-podryadnyh-rabot-za/')
                | Статистические данные об объеме инвестиций и подрядных работ за январь-октябрь 2013 года
            li.menu-open_li
              a.menu-open_link(href='/stat/stroitelstvo/informaciyu-po-obemu-investicij-i-podryadnyh-rabot-v-stroitelnoj/')
                | Информацию по объему инвестиций и подрядных работ в строительной отрасли за январь-апрель 2013 года.
            li.menu-open_li
              a.menu-open_link(href='/stat/stroitelstvo/obem-investicij-podryadnyh-rabot-chislo-stroitelnyh-organizacij-/')
                | Объем инвестиций, подрядных работ, число строительных организаций, численность работников и заработная плата
            li.menu-open_li
              a.menu-open_link(href='/stat/stroitelstvo/obem-podryadnyh-rabot-chislo-stroitelnyh-organizacij-chislennost/')
                | Объем подрядных работ, число строительных организаций,  численность работников и заработная плата за январь – июнь 2013 года.
            li.menu-open_li
              a.menu-open_link(href='/stat/stroitelstvo/statisticheskie-dannye-ob-obeme-investicij-i-podryadnyh-rabot-za/')
                | Статистические данные об объеме инвестиций и подрядных работ за январь-июль 2013 года
            li.menu-open_li
              a.menu-open_link(href='/stat/stroitelstvo/statisticheskie-dann-ob-obeme-investicij-i-podryadnyh-rabot-za/')
                | Статистические данные об объеме инвестиций и подрядных работ за январь-август 2013 года
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/stat/arhivy-stavropolskogo-kraya/') Архивы Ставропольского края
    li.menu-open_li.menu-open_li_dropdown
      a.menu-open_link(href='/obshestvennaya-palata/') Общественная палата
      ul.menu-open_dropdown_menu
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/obshestvennaya-palata/normativnaya-pravovaya-baza/') Нормативно-правовая база
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/obshestvennaya-palata/strukturaobshestvennoj-palaty-stavropolskogo-kraya/') Структура Общественной палаты Ставропольского края
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/obshestvennaya-palata/anonsy/') Анонсы
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/obshestvennaya-palata/anonsy/obsuzhdenie-proekta-osnov-gosudarstvennoj-kulturnoj-politiki/') Обсуждение проекта Основ государственной культурной политики
            li.menu-open_li
              a.menu-open_link(href='/obshestvennaya-palata/anonsy/sport-i-zdorove-osnova-osnov/') Спорт и здоровье – основа основ
        li.menu-open_li.menu-open_li_dropdown
          a.menu-open_dropdown_menu_link(href='/obshestvennaya-palata/novosti/') Новости
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a.menu-open_link(href='/obshestvennaya-palata/novosti/novosti-za-2016-god/') Новости за 2016 год
            li.menu-open_li
              a.menu-open_link(href='/obshestvennaya-palata/novosti/novosti-za-2015-god/') Новости за 2015 год
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/obshestvennaya-palata/obyavlenie/') Объявление
    li.menu-open_li.menu-open_li_dropdown
      a.menu-open_link(href='/realizaciya-majskih-ukazov-prezidenta-rossijskoj-federacii/') Реализация майских указов Президента РФ
      ul.menu-open_dropdown_menu
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/realizaciya-majskih-ukazov-prezidenta-rossijskoj-federacii/ukazy-prezidenta-rossijskoj-federacii-ot-7-maya-2012-g-596-602-6/') Указы Президента Российской Федерации от 7 мая 2012 г. № 596-602, 606
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/realizaciya-majskih-ukazov-prezidenta-rossijskoj-federacii/dorozhnye-karty/') Дорожные карты
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/realizaciya-majskih-ukazov-prezidenta-rossijskoj-federacii/informaciya-po-voprosu-o-hode-vypolneniya-v-stavropolskom-krae-p/')
            | Информация по вопросу «О ходе выполнения в Ставропольском крае приоритетных направлений государственной политики, определенных Президентом Российской Федерации» (указы Президента Российской Федерации от 7 мая 2012 г. № 596-602, 606)
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/realizaciya-majskih-ukazov-prezidenta-rossijskoj-federacii/4-informaciya-o-dostignutyh-znacheniyah-srednej-zarabotnoj-platy/')
            | Информация о достигнутых значениях средней заработной платы работников учреждений
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/realizaciya-majskih-ukazov-prezidenta-rossijskoj-federacii/komissiya-po-monitoringu-dostizheniya-v-stavropolskom-krae-znach/')
            | Комиссия по мониторингу достижения в Ставропольском крае значений целевых показателей социально-экономического развития субъектов Российской Федерации, определенных некоторыми указами Президента Российской Федерации
        li.menu-open_li
          a.menu-open_dropdown_menu_link(href='/realizaciya-majskih-ukazov-prezidenta-rossijskoj-federacii/plan-provedeniya-organami-ispolnitelnoj-vlasti-stavropolskogo-kr/')
            | План проведения органами исполнительной власти Ставропольского края экспертизы нормативных правовых актов Ставропольского края, затрагивающих вопросы осуществления предпринимательской и инвестиционной деятельности, на 2014 год
    li.menu-open_li
      a.menu-open_link(href='/kalkulyator-kommunalnyh-platezhej-dlya-grazhdan-rf/') Калькулятор коммунальных платежей для граждан РФ

// Контер для собственного контекстного меню. По умолчания - скрыт.
#contextMenuId(style='position:absolute; top:0; left:0; border:1px solid #666; background-color:#CCC; display:none; float:left;')
script.
    // Функция для определения координат указателя мыши
    function defPosition(event) {
          var x = y = 0;
          if (document.attachEvent != null) { // Internet Explorer & Opera
                x = window.event.clientX + (document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft);
                y = window.event.clientY + (document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop);
          } else if (!document.attachEvent && document.addEventListener) { // Gecko
                x = event.clientX + window.scrollX;
                y = event.clientY + window.scrollY;
          } else {
                // Do nothing
          }
          return {x:x, y:y};
    }

    function menu(type, evt) {
        // Блокируем всплывание события contextmenu
        evt = evt || window.event;
        evt.cancelBubble = true;
        // Показываем собственное контекстное меню
        var menu = document.getElementById("contextMenuId");
        var html = "";
        switch (type) {
            case (1) :
                html = "Меню для первого ДИВа";
                html += "<br><a href='#'>Первая функция</a>";
                html += "<br><a href='#'>Вторая функция</a>";
                html += "<br><a href='#'>Третья функция</a>";
            break;
            case (2) :
                html = "Меню для второго ДИВа";
                html += "<br><i>(пусто)</i>";
            break;
            default :
                // Nothing
            break;
        }
        // Если есть что показать - показываем
        if (html) {
            menu.innerHTML = html;
            menu.style.top = defPosition(evt).y + "px";
            menu.style.left = defPosition(evt).x + "px";
            menu.style.display = "";
        }
        // Блокируем всплывание стандартного браузерного меню
        return false;
    }

    // Закрываем контекстное при клике левой или правой кнопкой по документу
    // Функция для добавления обработчиков событий
    function addHandler(object, event, handler, useCapture) {
        if (object.addEventListener) {
            object.addEventListener(event, handler, useCapture ? useCapture : false);
        } else if (object.attachEvent) {
            object.attachEvent('on' + event, handler);
        } else alert("Add handler is not supported");
    }
    addHandler(document, "contextmenu", function() {
        document.getElementById("contextMenuId").style.display = "none";
    });
    addHandler(document, "click", function() {
        document.getElementById("contextMenuId").style.display = "none";
    });