.jumborton
  .row
  .col-sm-12
    .col-sm-6(style="padding: 10px 10px 10px 10px;" )
      button.btn.btn-info(ng-click="levelback(level)", ng-if="level > 0") Вернуться на предыдущий уровень
    .row
    div(ng-repeat="menuitem in menus")
      .col-sm-8
        .form-group(style="background-color: #F7F1D9; font-color: #000")
          label название меню
          input.form-control(ng-model='menuitem.title', name='title')
          label url
          input.form-control(ng-model='menuitem.url', name='url')
          div(style="background-color: #87ABCB;", ng-if="menuitem.children.length > 0")
            button.btn.btn-success.form-control(type='button', ng-click="expandmenu(menuitem)") развернуть вложенное меню
      .col-sm-2
        button.btn.btn-default(type='button', aria-label='Menu Up')
          span.glyphicon.glyphicon-arrow-up(aria-hidden='true')
        button.btn.btn-default(type='button', aria-label='Menu Down')
          span.glyphicon.glyphicon-arrow-down(aria-hidden='true')
        button.btn.btn-default(type='button', aria-label='Menu Add')
          span.glyphicon.glyphicon-plus(aria-hidden='true', ng-click="additem()")
        button.btn.btn-default(type='button', aria-label='Menu Remove')
          span.glyphicon.glyphicon-remove(aria-hidden='true')
        button.btn.btn-default(type='button', aria-label='Menu Save', ng-click="menusave(menuitem)")
          span.glyphicon.glyphicon-floppy-disk(aria-hidden='true')

