div.col-lg-4.col-ws-3.col-sm-12.news__one(ng-repeat="item in news")
    a.news__one_img_block(href="{{item.excerpt}}/")
        img(src="/media/{{item.thumbnail}}", class="news__one_img.hidden-xs")
        div.go-top
            p {{item.slug}}
        span.news__one_date {{item.creation_date|date}}
        a(href="{{item.excerpt}}/", class="news__one_title") {{item.title}}
