@font-face {
    font-family: 'futurabook';
    src: url('../fonts/FuturaNewBook.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuracond';
    src: url('../fonts/FuturaNewCondBook.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'futurademi';
    src: url('../fonts/FuturaNewDemi.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'futuraextrabold';
    src: url('../fonts/FuturaNewExtraBold.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'futuralight';
    src: url('../fonts/FuturaNewLight.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'futuramedium';
    src: url('../fonts/FuturaNewMedium.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ptsans';
    src: url('../fonts/ptsans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ptsansbold';
    src: url('../fonts/ptsansbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}





















