extends layout
block body
  script(type="text/ng-template", id="addNews.html", name="addNews.html")
    span.modal-body.col-sm-12(style='background-color: #87ABCB')
      img(src='media/irnews_thumb/nullphoto.jpg', style='height: 120px; weight:120px;')
      span
        div
          label Краткое содержание новости
          textarea.form-control(ui-tinymce='tinymceOptions', ,='', name='news.title', ng-model='news.title', rows='5')
          |    textarea( ng-model="tinymceModel")
          label Полное содержание новости
          textarea.form-control(name='news.body', ng-model='news.body', rows='15')
      .modal-footer
        button.btn(type='button', ng-click='modalOptions.close()') {{modalOptions.closeButtonText}}
        button.btn.btn-primary(ng-click='modalOptions.ok(comment.body)') {{modalOptions.actionButtonText}}

  script(type="text/ng-template", id="editMenu.html", name="editMenu.html")
      span.modal-body.col-sm-12(style='background-color: #87ABCB')
        div
          label наименование меню
          input.form-control(ng-model='menu.title', name='menu.title')
          label url
          input.form-control(ng-model='menu.url', name='menu.url')
      .modal-footer
        button.btn(type='button', ng-click='modalOptions.close()') {{modalOptions.closeButtonText}}
        button.btn.btn-primary(ng-click='modalOptions.ok(comment.body)') {{modalOptions.actionButtonText}}

  script(type="text/ng-template", id="menu.html", name="menu.html")
    div(id="menu-open" tabindex="-1" role="dialog" aria-labelledby="menuLabel" aria-hidden="true" style="display: block !important; padding-right: 15px; height: 100%")
      button(type="button" class="close" data-dismiss="modal" aria-hidden="true", ng-click="modalOptions.close()") ×
      ul.menu-open
        li.menu-open_li.menu-open_li_dropdown
          a(href="/region/", class="menu-open_link") Ставропольский край
          ul.menu-open_dropdown_menu
            li.menu-open_li.menu-open_li_dropdown
              a(href="/region/statute/", class="menu-open_dropdown_menu_link") Устав и геральдика
              ul.menu-open_dropdown_menu
                li.menu-open_li
                  a(href="/region/statute/ustav/", class="menu-open_link") Устав (Основной Закон) Ставропольского края
            li.menu-open_li.menu-open_li_dropdown
              a(href="/region/statute/", class="menu-open_dropdown_menu_link") административно-территориальное деление
            li.menu-open_li.menu-open_li_dropdown
              a(href="/region/statute/", class="menu-open_dropdown_menu_link") население
            li.menu-open_li.menu-open_li_dropdown
              a(href="/region/statute/", class="menu-open_dropdown_menu_link") климат
            li.menu-open_li.menu-open_li_dropdown
              a(href="/region/statute/", class="menu-open_dropdown_menu_link") природные ресурсы
            li.menu-open_li.menu-open_li_dropdown
              a(href="/region/statute/", class="menu-open_dropdown_menu_link") экологическое состояние
            li.menu-open_li.menu-open_li_dropdown
              a(href="/region/statute/", class="menu-open_dropdown_menu_link") историческая справка
            li.menu-open_li.menu-open_li_dropdown
              a(href="/region/statute/", class="menu-open_dropdown_menu_link") система налогообложения
            li.menu-open_li.menu-open_li_dropdown
              a(href="/region/statute/", class="menu-open_dropdown_menu_link") инвестиционный потенциал
            li.menu-open_li.menu-open_li_dropdown
              a(href="/region/statute/", class="menu-open_dropdown_menu_link") туристическое Ставрополье
        li.menu-open_li.menu-open_li_dropdown
          a(href="/region/", class="menu-open_dropdown_menu_link") Органы местного самоуправления
          ul.menu-open_dropdown_menu
            li.menu-open_li
              a(href="/region/statute/", class="menu-open_link") районные центры
            li.menu-open_li
              a(href="/region/statute/", class="menu-open_link") города краевого значения
        li.menu-open_li.menu-open_li_dropdown
          a(href="/region/", class="menu-open_link") Образовательные организации
          ul.menu-open_dropdown_menu
            li.menu-open_li.menu-open_li_dropdown
              a(href="/region/statute/", class="menu-open_dropdown_menu_link") Дошкольная образовательная организация
              ul.menu-open_dropdown_menu
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") ясли
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") детский сад
            li.menu-open_li.menu-open_li_dropdown
              a(href="/region/statute/", class="menu-open_dropdown_menu_link") Общеобразовательная организация
              ul.menu-open_dropdown_menu
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") начальная школа
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") прогимназия
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") школа
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") национальная гимназия
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") гимназия
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") лицей
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") учебно-воспитательный комплекс
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") школа с углубленным изучением предметов
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") профильная школа
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") кадетская школа
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") кадетский корпус
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") школа-интернат
            li.menu-open_li.menu-open_li_dropdown
              a(href="/region/statute/", class="menu-open_dropdown_menu_link") Профессиональная образовательная организация
              ul.menu-open_dropdown_menu
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") проф. Училище
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") проф. Лицей
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") колледж
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") техникум
            li.menu-open_li.menu-open_li_dropdown
              a(href="/region/statute/", class="menu-open_dropdown_menu_link") Образовательные организации высшего образования
              ul.menu-open_dropdown_menu
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") институт
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") академия
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") университет
            li.menu-open_li.menu-open_li_dropdown
              a(href="/region/statute/", class="menu-open_dropdown_menu_link") Организация дополнительного образования
              ul.menu-open_dropdown_menu
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") дворцы детского (юношеского) творчества
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") станции юного натуралиста, станции юного туриста, детская школа искусств
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") учреждения дополнительного образования взрослых
            li.menu-open_li.menu-open_li_dropdown
              a(href="/region/statute/", class="menu-open_dropdown_menu_link") Организация дополнительного профессионального образования
              ul.menu-open_dropdown_menu
                li.menu-open_li
                  a(href="/region/statute/", class="menu-open_link") институт повышения квалификации
            li.menu-open_li
              a(href="/region/statute/", class="menu-open_link") Иные учреждения
        li.menu-open_li
          a(href="/region/", class="menu-open_link") Статистика
        li.menu-open_li
          a(href="/region/", class="menu-open_link") Советы специалистов
        li.menu-open_li
          a(href="/region/", class="menu-open_link") Новое на сайтах
  <!-- START PAGE -->
  div.container.content
    div.row
      <!-- LEFT PANEL -->
      aside.col-ws-3.col-md-3.col-lg-3.contur
          div.row
            span.db.col-sm-12.aside_title
              |Портал органов государственной власти
          div.row
            .col-sm-12.aside_logo
              a(href="/")
                img(src="img/gerb.png", alt="герб Ставрополя")
          div.row
            .col-sm-12
              div.aside_menu-btn.ib(ng-click="showMenu()")
                img(src="img/menu-icon.png", alt="menu")
                span.aside_menu-btn_title Меню
          div.row
            .col-sm-12.aside_title2
              span.aside_title2_span Ставропольский край
          div.row
            ul.aside_menu-list.col-sm-12
              li.aside_menu-list_li.aside_menu-list_li_yellow
                a.aside_menu-list_link(href="http://portal.stavinvest.ru/") Инвестиционный портал
              li.aside_menu-list_li.aside_menu-list_li_blue
                a.aside_menu-list_link(href="/polls/") Опросы населения ставропольского края
              li.aside_menu-list_li.aside_menu-list_li_blue
                a.aside_menu-list_link(href="/tenders/") Государственный заказ
              li.aside_menu-list_li.aside_menu-list_li_blue
                a.aside_menu-list_link(href="http://12dekabrya.ru/") Конституция рф
              li.aside_menu-list_li.aside_menu-list_li_blue
                a.aside_menu-list_link(href="http://www.atk26.ru/") Антитеррористическая деятельность
              li.aside_menu-list_li.aside_menu-list_li_blue
                a.aside_menu-list_link(href="adminPanel/") Администрирование
          div.row.hidden-xs.hidden-xm
            .col-sm-12
              a(href="https://gosmonitor.ru/widget?id=322&rebuild=1&no_visit_count=1&no_redir=1&field_mobid=322", class="aside_bottom_btn", target="_blank") Оставьте свой отзыв о работе сайта
      div.aside_end

      <!-- MIDDLE PANEL -->
      div.col-ws-9.col-md-8.col-lg-9.right_content
        <!-- UP PANEL -->
        header
          div.row
            div.col-sm-12
              div.row
                div.col-sm-4
                  a(href="/vacancy/vacancy_info/", class="lblue_btn") Банк кадровых возможностей
                div.col-sm-4
                  a(href="/services/", class="lblue_btn") Государственные услуги
                div.col-sm-4
                  a(href="/opendata/", class="lblue_btn") Открытые данные
              div.row
                div.col-sm-12
                  span.right Техническая поддержка:
                    b (8652) 748 768
                div.clear
              div.row
                div.col-sm-4
                  form(method="post", action="/search/")
                    div(style='display:none')
                      input(type='hidden', id='csrf-token', name='csrfmiddlewaretoken', value='2c2431d0efbf37db40288c6dc65cb9d5')
                    input(type="text", name="search", class="search__input", placeholder="Поиск")
                div.col-sm-8
                  div.row
                    div.col-sm-8
                      a(href="http://sv.stavregion.ru/", class="enter-link")
                        span.right.enter-link_span версия для слабовидящих
                        img(src="/_s_/app/img/glass-icon.png", class="right header-icon__glass", alt="glasses")
                        div.clear
                    div.col-sm-4
                      a(href="/accounts/login/", class="enter-link")
                        span.right.enter-link_span Вход
                        img(src="/_s_/app/img/enter-icon.png", class="right header-icon__glass", alt="enter-icon")
        <!--/HEADER-->
        section.news
          div.row
            div.col-sm-12

          div.row(ng-view, style="overflow: auto")
          div.row


  <!-- SCRIPTS -->
  script(src="libs/jquery/dist/jquery.min.js")
  script(src="libs/tinymce/tinymce.js")
  script(src='libs/angular/angular.min.js')
  script(src='libs/angular-file-upload/dist/angular-file-upload.min.js')
  script(src='libs/locale-ru-ru.js')
  script(src='libs/angular-route/angular-route.min.js')
  script(src='libs/angular-sanitize/angular-sanitize.min.js')
  script(src='libs/angular-animate/angular-animate.min.js')
  //- script(src='libs/angular-resource/angular-resource.min.js')
  script(src='libs/angular-bootstrap/ui-bootstrap-tpls.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/components.js')
  script(src="libs/angular-ui-tinymce/src/tinymce.js")
script.
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>