doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    base(href='/')
    title Органы местного самоуправления
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='libs/angular-bootstrap/ui-bootstrap-csp.css')
    link(rel='stylesheet', href='css/app.css')
    link(rel='stylesheet', href='css/menu.css')
    link(rel='stylesheet', href='css/news.css')
    //- link(rel='stylesheet', href='_s_/app/css/main.css')
  body
    block body
