<span class="modal-body col-sm-12" style="background-color: #87ABCB">
   <img src="media/irnews_thumb/nullphoto.jpg" style="height: 120px; weight:120px;">
<span>
<div>
   <label>Краткое содержание новости</label>
   <textarea id="my_editor" ui-tinymce="tinymceOptions", name="news.title" ng-model="news.title" rows="5" class="form-control">
   </textarea>
   textarea#my_editor( ng-model="tinymceModel")
	<label>Полное содержание новости</label>
	<textarea name="news.body" ng-model="news.body" rows="15" class="form-control"></textarea>
</div>
</span>

<div class="modal-footer">
	<button type="button" ng-click="modalOptions.close()" class="btn">{{modalOptions.closeButtonText}}</button>
	<button ng-click="modalOptions.ok(comment.body)" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
</div>
</span>

