.b-menu{
	position: relative;
	padding: 16px 0 0 0;
	margin-bottom: 30px;
	margin-right: -12px;
	background: #FFFFFF url(../i/shadow-left.gif) repeat-y right top;
	border-left: 2px solid #DDE2E1;
}
.h-menu{
	padding: 30px 0 60px 0;
	margin-right: 12px;
	background: url(../i/bg-h6.gif) repeat-x left bottom;
}
.menu1-list{
	font: 110% "Tahoma", sans-serif;
	margin: 0 20px 0 20px;
}
.menu1-li{
	margin-bottom: 10px;
}
a.menu1-link, a.menu1-act, span.menu1-act{
	display: block;
	padding: 4px 20px 3px 11px;
}
a.menu1-link{
	border-bottom: 2px solid #EAEEEF;
	border-left: 5px solid #FFB000;

}
a.menu1-act, span.menu1-act{
	border-bottom: 2px solid #FFB000;
	border-left: 15px solid #FFB000;
	margin-left: -10px;
}
span.menu1-act, span.menu2-act, span.menu3-act{
	color: #D96702;
}
a.menu1-link:link, a.menu1-link:visited, a.menu1-act:link, a.menu1-act:visited, a.menu2-link:link, a.menu2-link:visited, a.menu2-act:link, a.menu2-act:visited, a.menu3-link:link, a.menu3-link:visited, a.menu3-act:link, a.menu3-act:visited{
	color: #314742;
	text-decoration: none;
}
a.menu1-link:hover, a.menu1-link:active, a.menu1-act:hover, a.menu1-act:active, a.menu2-link:hover, a.menu2-link:active, a.menu2-act:hover, a.menu3-act:active, a.menu3-link:hover, a.menu3-link:active, a.menu3-act:hover, a.menu3-act:active{
	color: #314742;
	text-decoration: underline;
}
.menu2-list{
	background: #F6F8F9;
	font: 90% "Lucida Sans Unicode", sans-seif;
	padding: 10px 0 10px 0;
}
.menu2-li{
	margin-bottom: 10px;
}
a.menu2-link, a.menu2-act, span.menu2-act{
	display: block;
	padding: 4px 20px 3px 25px;
}
a.menu2-act, span.menu2-act{
	border-left: 5px solid #D6D7D7;
	padding: 4px 20px 3px 20px;
}
.menu3-list{
	background: #EAEEEF;
	font: 100% "Lucida Sans Unicode", sans-seif;
	padding: 10px 0 10px 0;
}
.menu3-li{
	margin-bottom: 10px;
}
a.menu3-link, a.menu3-act, span.menu3-act{
	display: block;
	padding: 4px 20px 3px 45px;
}
a.menu3-act, span.menu3-act{
	border-left: 5px solid #FFFFFF;
	border-left: 5px solid #C0C0C0;
	padding: 4px 20px 3px 40px;
}
.menu-rbcorner{
	position: absolute;
	bottom: 0;
	right: 12px;
	width: 82px;
	height: 18px;
	background: url(../i/h6-rbcorner.gif) no-repeat right bottom;
}
