@import "gallery.css" screen;
.text{
	padding: 0 60px 0 90px;
    line-height: 1.4em;
    color: #223A35;
}

.text p{
    padding: 10px 0 8px 0;
    margin-bottom: 5px;
}
.text ol{
    list-style-type: decimal;
    margin: 20px 0 15px 0;
}
.text ol li{
    margin-bottom: 8px;
}
.text a:link, .text a:visited{
    color: #D96702;
    text-decoration: underline;
}
.text a:hover, .text a:active{
    color: #223A35;
    text-decoration: underline;
}
.text ul{
    background: url(../i/bg-li.gif) repeat-y left top;
    margin-left: -50px;
}
.text ul li{
    background: url(../i/li.gif) no-repeat 38px 5px;
    padding: 0 0 16px 60px;
}
blockquote{
    margin-left: -50px;
    border-left: 10px solid #c9c9c9;
    background: #EFF2F3;
    font: 100% "Arial", sans-serif;
    font-style: italic;
    line-height: 1.4em;
    padding: 10px 0 0 40px;
}
/*-----------------HEADERS------------------------*/
h1#site-ttl{
    position: absolute;
    top: 80px;
    left: 30px;
    width: 270px;
    z-index: 1;
    font: bold 120% "Lucida Sans Unicode", sans-serif;
    color: #223A35;
    background: none;
    border: none;
}
.l-h1{
    background: #FFFFFF url(../i/bg-lh2.gif) repeat-y left top;
	margin-left: 30px;
    margin-bottom: 30px;
}
h1{
    position: relative;
    width: auto;
    top: 0;
    left: 0;
    color: #223A35;
    font: 120% "Tahoma", sans-serif;
    padding: 15px 25px 8px 40px;
    border-bottom: 4px solid #DDE2E1;
    margin-left: 20px;
    background: url(../i/h2-inner-corner.gif) no-repeat left bottom;
    font-weight: normal;
}
h2{
    font: 120% "Lucida Sans Unicode", sans-serif;
    font-weight: normal;
    margin: 25px 0 10px -50px;
    background: #FFFFFF url(../i/bg-h2.gif) repeat-y left top;
    border-bottom: 2px solid #DCE0E0;
    padding: 10px 0 8px 50px;
}
h3{
    color: #8C2B00;
    font: 120% "Lucida Sans Unicode", sans-serif;
    margin: 25px 0 5px 0;
    font-weight: normal;
}
/*-----------------MESSAGES------------------------*/
.messages{
       border: 1px solid #a3b3b5;
       margin: 20px 0 45px 70px;
       padding: 14px 30px 2px 10px;
       background: #DDE2E1;
       font-weight: bold;
}
.messages li{
       margin-bottom: 7px;
       padding: 2px 0 6px 33px;
}
.messages li.success{
       background: url(../i/checkmark.png) no-repeat 1px 0px;
       color: #D96702;
}
.messages .success a:link, .messages .success a:visited{
       color: #D96702;
       text-decoration: underline;
}
.messages .success a:hover, .messages .success a:active{
       color: #D96702;
       text-decoration: none;
}
.messages li.error{
       color: #c80908;
       background: url(../i/error.gif) no-repeat top left;
}
.messages .error a:link, .messages .error a:visited{
       color: #c80908;
       text-decoration: underline;
}
.messages .error a:hover, .messages .error a:active{
       color: #c80908;
       text-decoration: none;
}

dl.newslist{
    overflow: hidden;
    position: relative;
    background: url(../i/bg-li.gif) repeat-y left top;
    margin-left: -50px;
    margin-top: 25px;
}
.text .newslist dt, .text .newslist dd{
    position: relative;
}
.text .newslist dt{
    background: url(../i/li.gif) no-repeat 35px top;
    padding: 0 0 4px 60px;
}
.text .newslist dd{
    padding-left: 60px;
    padding: 0 0 20px 60px;
}
.nl-date{
    font-size: 90%;
    display: inline-block;
    background: #eff0e7;
    padding: 1px 4px;
}
.nl-title{
    display: block;
    margin: 3px 0;
}
.img-left{
    float: left;
    margin: 0 15px 10px 0;
}

.img-right{
    float: right;
    margin: 0 0 10px 15px;
}

.text ul.mime-list, .file{
    margin-left: -50px;
}
.text li.mime-icon, .mime-icon{
    background: url(../i/mime-icon.gif) no-repeat 18px top;
    padding: 4px 0 18px 60px;
}
.text li.mime-icon.application__pdf, .mime-icon.application__pdf{
    background: url(../i/mime-icon-pdf.gif) no-repeat 18px top;
}
.text li.mime-icon.application__msword, .mime-icon.application__msword{
    background: url(../i/mime-icon-doc.gif) no-repeat 18px top;
}
.text li.mime-icon.application__vnd__ms-excel, .text li.mime-icon.application__x-excel, .mime-icon.application__x-excel, .mime-icon.application__vnd__ms-excel{
    background: url(../i/mime-icon-xls.gif) no-repeat 18px top;
}
.text li.mime-icon.application__rar, .mime-icon.application__rar, .text li.mime-icon.application__x-rar-compressed, .mime-icon.application__x-rar-compressed{
    background: url(../i/mime-icon-rar.gif) no-repeat 18px top;
}
.text li.mime-icon.application__zip, .mime-icon.application__zip, .text li.mime-icon.application__x-tar, .mime-icon.application__x-tar{
    background: url(../i/mime-icon-zip.gif) no-repeat 18px top;
}
.text li.mime-icon.application__rtf, .mime-icon.application__rtf{
    background: url(../i/mime-icon-rtf.gif) no-repeat 18px top;
}
.text li.mime-icon.image__gif, .mime-icon.image__gif{
    background: url(../i/mime-icon-gif.gif) no-repeat 18px top;
}
.text li.mime-icon.image__jpeg, .mime-icon.image__jpeg{
    background: url(../i/mime-icon-jpg.gif) no-repeat 18px top;
}
.link{
    background: url(../i/link.gif) no-repeat 34px 10px;
    padding: 7px 0 12px 60px;
}

/*--------------------------------TABLES----------------------------------*/
.text table{
    margin-left: -40px;
    margin-top: 20px;
    margin-bottom: 25px;
    border-collapse: separate;
    border-left: 20px solid #dde2e1;
    width: auto;
}
.text td{
    border-bottom: 1px solid #E7E9EA;
    border-top: 1px solid #FDFFFF;
    border-right: 1px solid #E7E9EA;
    padding: 13px 20px 5px 17px;
}
.text th{
    background: #FFFFFF;
    padding: 13px 20px 5px 17px;
    border-right: 1px solid #E8EAE9;
    font-family: "Arial";
    font-style: italic;
    font-weight: bold;
}
.text tr td:first-child, .text tr th:first-child{
    padding-left: 20px;
}
/*--------------------------------MAP-INDEX-LIST----------------------------------*/
.text ul.sitemap, .text ul.index-list{
    background: none;
    margin: 0;
    margin-left: -20px;
    font-size: 140%;
}
.text ul.index-list{
    font-size: 110%;
}
.text .sitemap ul, .text .index-list ul{
    background: none;
    margin: 11px 0 0px 0;
}
.text li.descendant{
    font-size: 90%;
    background: url(../i/menu2-hover.gif) no-repeat left 5px;
    padding: 0 0 15px 20px;
}
sup{
    vertical-align: super;
    font-size: 90%;
}
sub{
    vertical-align: sub;
    font-size: 90%;
}
dt{
    padding: 0;
    font-weight: bold;
    color: #56534e;
}
dd{
    padding: 0 0 15px 20px;
}