body.sample_body{
    background-position: left 170px;
}

.back2stavregion{
    font-size: 90%;
    margin-top: 15px;
    height: 35px;
    position: absolute;
    right: 40px;
    top: 90px;
}

.gerb.sample{
    top: 0px;
    width: 159px;
    height: 149px;
    background: url(../i/logo-default.gif) no-repeat center center;
}

.b-vcard{
    margin: 1.5em 0 3em 0;
    border: 2px solid #C0C0C0;
    padding: 1em 2.5em;

}
.ofname{
    font-size: 90%;
}
.b-ofname{
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 1.8em;
}
.b-contacts{
    margin-bottom: 2.3em;
}
.b-contacts p{
    margin-bottom: 1em;
}
.b-chief{
    position: relative;
    padding-left: 10em;
}
.chief{
    position: absolute;
    top: 0; 
    left: 0;
    display: inline-block;
    font-weight: bold;
    width: 9.8em;
}
.chief-post{
    display: block;
    font-size: 90%;
}